<p>
  <strong
    >{{ extraHeading().length > 0 ? `${extraHeading()}` : "" }} Tables</strong
  >
</p>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col">Usage Type</th>
      <th scope="col">Rate</th>
      <th scope="col">Quantity</th>
      <th scope="col">GST</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Daily Supply Charge</strong></td>
      <td>
        <div class="input-group input-group-sm number-input">
          <span class="input-group-text" id="supply-charge-rate-icon">A$</span>
          <input
            type="number"
            class="form-control"
            aria-label="Rate"
            aria-describedby="supply-charge-rate-icon"
            [(ngModel)]="supplyChargeRate"
          />
        </div>
      </td>
      <td>{{ numberOfDays() }} {{ numberOfDays() > 1 ? "days" : "day" }}</td>
      <td>
        {{
          supplyChargeRate() * numberOfDays() * supplyChargeRateGst()
            | currency : "AUD"
        }}
      </td>
      <td>
        <strong>{{ totalSupplyCharge() | currency : "AUD" }}</strong>
      </td>
    </tr>
    @for (actewAGLCost of listOfTotalActewAGLCost(); track
    actewAGLCost.usageType) {
    <tr>
      <td>
        <strong>{{ actewAGLCost.usageType }}</strong>
        <br />{{ actewAGLCost.hours }}
      </td>
      <td>
        <div class="input-group input-group-sm number-input">
          <span
            class="input-group-text"
            [id]="'rate-usage' + actewAGLCost.usageType"
            >A$</span
          >
          <input
            type="number"
            class="form-control"
            aria-label="Rate"
            [attr.aria-describedby]="'rate-usage' + actewAGLCost.usageType"
            [ngModel]="actewAGLCost.rate"
            (ngModelChange)="updateUsageTypeRate(actewAGLCost, $event)"
          />
        </div>
      </td>
      <td>
        <div class="input-group input-group-sm number-input">
          <input
            type="number"
            class="form-control"
            aria-label="Quantity"
            [attr.aria-describedby]="'quantity-usage' + actewAGLCost.usageType"
            [ngModel]="actewAGLCost.quantity"
            (ngModelChange)="updateUsageTypeQuantity(actewAGLCost, $event)"
          />
          <span
            class="input-group-text"
            [id]="'quantity-usage' + actewAGLCost.usageType"
            >kWh</span
          >
        </div>
      </td>
      <td>
        {{
          actewAGLCost.gst * actewAGLCost.rate * actewAGLCost.quantity
            | currency : "AUD"
        }}
      </td>
      <td
        [ngClass]="{
          'text-success': actewAGLCost.total < 0,
          'fw-bold': true
        }"
      >
        {{ actewAGLCost.total | currency : "AUD" }}
      </td>
    </tr>
    }
    <tr>
      <td colspan="4" class="text-end">
        <strong
          >Total
          {{ totalIncludingSupply() < 0 ? "saving" : "cost" }}
          @if (costReduction() > 0) { ({{
            costReduction() | percent
          }}
          reduction) }</strong
        >
      </td>
      <td
        [ngClass]="{
          'text-success': totalIncludingSupply() <= 0,
          'text-danger': totalIncludingSupply() > 0,
          'fw-bold': true
        }"
      >
        <strong>{{ totalIncludingSupply() | currency : "AUD" }}</strong>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="text-end">
        <strong>Average Daily Cost</strong>
      </td>
      <td
        [ngClass]="{
          'text-success': averageDailyCost() <= 0,
          'text-danger': averageDailyCost() > 0,
          'fw-bold': true
        }"
      >
        <strong>{{ averageDailyCost() | currency : "AUD" }}</strong>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="text-end">
        <strong>Projected 90 Days Cost</strong>
      </td>
      <td
        [ngClass]="{
          'text-success': projectedQuarterlyCost() <= 0,
          'text-danger': projectedQuarterlyCost() > 0,
          'fw-bold': true
        }"
      >
        <strong>{{ projectedQuarterlyCost() | currency : "AUD" }}</strong>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="text-end">
        <strong>Total without Solar System</strong>
      </td>
      <td
        [ngClass]="{
          'text-success': totalIncludingSupplyChargeWithoutSolarSystem() <= 0,
          'text-danger': totalIncludingSupplyChargeWithoutSolarSystem() > 0,
          'fw-bold': true
        }"
      >
        <strong>{{
          totalIncludingSupplyChargeWithoutSolarSystem() | currency : "AUD"
        }}</strong>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="text-end">
        <strong>Average Daily Cost without Solar System</strong>
      </td>
      <td
        [ngClass]="{
          'text-success': averageDailyCostWithoutSolarSystem() <= 0,
          'text-danger': averageDailyCostWithoutSolarSystem() > 0,
          'fw-bold': true
        }"
      >
        <strong>{{
          averageDailyCostWithoutSolarSystem() | currency : "AUD"
        }}</strong>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="text-end">
        <strong>Projected 90 Days Cost without Solar System</strong>
      </td>
      <td
        [ngClass]="{
          'text-success': projectedQuarterlyCostWithoutSolarSystem() <= 0,
          'text-danger': projectedQuarterlyCostWithoutSolarSystem() > 0,
          'fw-bold': true
        }"
      >
        <strong>{{
          projectedQuarterlyCostWithoutSolarSystem() | currency : "AUD"
        }}</strong>
      </td>
    </tr>
  </tbody>
</table>
