<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Usage Type</th>
      <th scope="col">Rate</th>
      <th scope="col">Quantity</th>
      <th scope="col">GST</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    @if (totalSupplyCharge() > 0) {
    <tr>
      <td><strong>Daily Supply Charge</strong></td>
      <td>{{ supplyChargeRate() | currency : "AUD" }}</td>
      <td>{{ numberOfDays() }} {{ numberOfDays() > 1 ? "days" : "day" }}</td>
      <td>
        {{
          supplyChargeRate() * numberOfDays() * supplyChargeRateGst()
            | currency : "AUD"
        }}
      </td>
      <td>
        {{ totalSupplyCharge() | currency : "AUD" }}
      </td>
    </tr>
    } @for (actewAGLCost of listOfTotalActewAGLCost(); track
    actewAGLCost.usageType) {
    <tr>
      <td>
        <strong>{{ actewAGLCost.usageType }}</strong>
      </td>
      <td>{{ actewAGLCost.rate | currency : "AUD" }}</td>
      <td>{{ actewAGLCost.quantity | number : "1.2-2" }} kWh</td>
      <td>
        {{
          actewAGLCost.gst * actewAGLCost.rate * actewAGLCost.quantity
            | currency : "AUD"
        }}
      </td>
      <td>
        {{ actewAGLCost.total | currency : "AUD" }}
      </td>
    </tr>
    }
    <tr>
      <td colspan="4" class="text-end">
        <strong>Total {{ saving() ? "saving" : "cost" }}</strong>
      </td>
      <td
        [ngClass]="{
          'bg-success': saving(),
          'bg-danger': !saving(),
          'text-light': true
        }"
      >
        <strong>{{ totalIncludingSupply() | currency : "AUD" }}</strong>
      </td>
    </tr>
  </tbody>
</table>
