<h2>ActewAGL Electricity Bill Calculator</h2>
<p>
  This calculator is to help you get the approximate bill when you need based on
  the ActewAGL calculation. You can download your usage history file under your
  Electricity account.
</p>
<p>
  <strong>Note: This app does not track your data uploaded.</strong> Here's the
  columns needed for the calculation to work:
</p>
<ul>
  <li>Register Description</li>
  <li>Reading Date</li>
  <li>Units</li>
</ul>

<app-excel-upload
  (fileSubmission)="calculateElectricityBill($event)"
></app-excel-upload>

<hr />

@if (numberOfDays > 0) {

<ul
  ngbNav
  #nav="ngbNav"
  [(activeId)]="activeTab"
  [destroyOnHide]="false"
  class="nav-tabs nav-fill"
>
  <li [ngbNavItem]="1">
    <button ngbNavLink>Usage</button>
    <ng-template ngbNavContent>
      <div class="tab-container">
        <app-actewagl-table-cost
          [(listOfTotalActewAGLCost)]="listOfTotalActewAGLCost"
          [numberOfDays]="numberOfDays"
          [fromDate]="fromDate"
          [toDate]="toDate"
        ></app-actewagl-table-cost>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Breakdown</button>
    <ng-template ngbNavContent>
      <div class="tab-container">
        <app-actewagl-daily-breakdown [dateCostBreakdowns]="dateCostBreakdowns">
        </app-actewagl-daily-breakdown>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink>Loan ROI</button>
    <ng-template ngbNavContent>
      <div class="tab-container">
        <app-loan-roi-calculator
          [(listOfTotalActewAGLCost)]="listOfTotalActewAGLCost"
          [numberOfDays]="numberOfDays"
        ></app-loan-roi-calculator>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
}
