<h2>ActewAGL Electricity Bill Calculator</h2>
<p>
  This calculator is to help you get the approximate bill when you need based on
  the ActewAGL calculation. You can download your usage history file under your
  Electricity account.
</p>
<p>
  <strong>Note: This app does not track your data uploaded.</strong> Here's the
  columns needed for the calculation to work:
</p>
<ul>
  <li>Register Description</li>
  <li>Reading Date</li>
  <li>Units</li>
</ul>

<app-excel-upload
  (fileSubmission)="calculateElectricityBill($event)"
></app-excel-upload>

@if (numberOfDays > 0) {
<hr />
<app-actewagl-table-cost
  [(listOfTotalActewAGLCost)]="listOfTotalActewAGLCost"
  [numberOfDays]="numberOfDays"
  [fromDate]="fromDate"
  [toDate]="toDate"
></app-actewagl-table-cost>

<app-loan-roi-calculator
  [(listOfTotalActewAGLCost)]="listOfTotalActewAGLCost"
  [numberOfDays]="numberOfDays"
  [dailyLoanCost]="3.14"
></app-loan-roi-calculator>

<app-actewagl-daily-breakdown [dateCostBreakdowns]="dateCostBreakdowns">
</app-actewagl-daily-breakdown>
}
