<h3>Daily Usage Breakdown</h3>
<table class="table table-striped">
  <thead>
    <tr>
      @for(header of tableHeaders; track $index) {
      <th scope="col">{{ header }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of tableData(); let rowIdx = $index; track rowIdx) {
    <tr>
      @for (cell of row; track $index) {
      <td
        [ngClass]="{
          'fw-bold': $index === 0,
          'bg-success': $index === 5 && cell.indexOf('-') === 0,
          'bg-danger': $index === 5 && cell.indexOf('-') === -1,
          'text-light': $index === 5
        }"
      >
        {{ cell }}
      </td>
      }
    </tr>
    }
    <tr>
      <td><strong>Total kWh consumption</strong></td>
      <td colspan="3" class="text-center">
        <strong>{{ totalQuantity | number : "1.2-2" }} kWh</strong>
      </td>
      <td colspan="2"></td>
    </tr>
  </tbody>
</table>
