<h3>Daily Usage Breakdown</h3>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      @for(header of tableHeaders; track $index) {
      <th scope="col">{{ header }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of tableData(); let rowIdx = $index; track rowIdx) {
    <tr>
      @for (cell of row; track $index) {
      <td
        [ngClass]="{
          'fw-bold': $index === 0 || $index === 5 || $index === 6 || $index === 7,
          'text-success':
            ($index === 6 || $index === 7) && cell.indexOf('-') === 0,
          'text-danger':
            ($index === 6 || $index === 7) && cell.indexOf('-') === -1,
        }"
      >
        {{ cell }}
      </td>
      }
    </tr>
    }
    <tr>
      <td><strong>Total consumption</strong></td>
      <td colspan="3" class="text-center">
        <strong>{{ totalQuantity | number : "1.2-2" }} kWh</strong>
      </td>
      <td colspan="4"></td>
    </tr>
  </tbody>
</table>
